@import "mixins.scss";
// Browser default reset styles
* {
padding:0;
margin:0;
list-style: none;
}
// Browser default reset styles
body {background-color: $bcg_gray;
}
#wrapper{
    width: 100%;
	min-width: 1280px;
	max-width: 1900px;
    margin:0 auto;
    nav{@include nav_panel;
        .menu{@include nav_menu_styles;
            .logo{ @include logo_styles;}
            .nav_inf{@include nav_inf_styles;}   
            .options{@include options_styles;
                .home, .notification, .settings, .burger {@include menu_items_same;}
                .home {@include home_item_styles;}
                .slide_right:hover, .slide_right:focus{@include slide_home;}
                .notification {@include notifications_item;}
                .settings {@include settings_styles;}
                .burger {@include buger_styles;}
            }
        }
    }
        .main_content   {
        display:relative;
        margin:0 auto;
        }
        .main_section{
        display:relative;
        width:100%;
        margin-top:50px;
        height: 457px;
        background-color: $primary-bcg;
        .lang{
            position:absolute;
            height:50px;
            width: 95px;
            cursor: pointer;
            background-color: $bcg_gray;
            // -moz-border-radius: 0 30px 30px 0;
            // -webkit-border-radius: 0 30px 30px 0;
            // -o-border-radius: 0 30px 30px 0;
            border-radius: 0 30px 30px 0;
            top:511px;
            .language {
        color:white;
        font-family: gotham_medium;
        font-size:21px;
        text-align: center;
        margin-top:13px;     
            }
        }
        .lang:hover{
        background-color: #283f79 ;
        }   
        .main_content{
        width:1280px;
        display: flex;
        }
        .container_inf{
            .description{
            margin-left: 15.7%;
            margin-right:72px;
            width:486px;
            height: 296px;
                .description_title{
                color:#fff;
                font-family: gotham_black;
                font-size:31px;
                text-transform:uppercase;
                margin-bottom:16px;
                margin-top:41px;
                }
                .description_text{
                text-indent: 0.3em;
                }
                .description_text:nth-child(14n){
                    margin-top:25px;
                }
                p{
                color:#fff;
                font-family: gotham_medium;
                font-size:15px;
                line-height:19px;
                }
            }   
        }
        .sharik{@include share_it}
       .office{
            margin-right:25px;
            width:383px;
            height: 571px;
            img {
            position:absolute;
            top:140px;
            z-index:1;
            }
        }
    }
    footer{ @include my_footer;}
}