* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background-color: #d0d0d0; }

#wrapper {
  width: 100%;
  min-width: 1280px;
  max-width: 1900px;
  height: 768px;
  margin: 0 auto; }
  #wrapper nav {
    background-color: #fff;
    width: 100%;
    height: 122px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-left-style: none;
    border-right-style: none;
    border-radius: 0 0 50px 50px; }
    #wrapper nav .menu {
      display: flex;
      position: relative;
      margin: 0 auto;
      width: 1280px; }
      #wrapper nav .menu .logo {
        width: 200px;
        height: 121px;
        background-color: #20253b;
        border-radius: 0 0 30px 30px;
        margin-left: 214px; }
        #wrapper nav .menu .logo .logo_image {
          margin-left: 51px;
          margin-top: 23px; }
      #wrapper nav .menu .nav_inf {
        width: 200px;
        height: 50px;
        margin-left: 121px;
        margin-top: 45px; }
        #wrapper nav .menu .nav_inf p {
          font-family: gotham_medium;
          line-height: 34px; }
        #wrapper nav .menu .nav_inf .service_inf {
          color: #27a860;
          font-size: 14.5px; }
        #wrapper nav .menu .nav_inf .service {
          font-size: 27px; }
      #wrapper nav .menu .options {
        margin-left: 198px;
        display: flex;
        width: 340px;
        height: 122px; }
        #wrapper nav .menu .options .home, #wrapper nav .menu .options .notification, #wrapper nav .menu .options .settings, #wrapper nav .menu .options .burger {
          width: 78px;
          height: 122px;
          border-radius: 0 0 30px 30px; }
        #wrapper nav .menu .options .home {
          background-color: #0c82c3;
          background-image: url(../assets/images/sprite.png);
          background-position: -1px 132px; }
          #wrapper nav .menu .options .home:hover {
            background-color: #283f79; }
        #wrapper nav .menu .options .notification {
          background-image: url(../assets/images/sprite.png);
          background-position: -93px 270px; }
          #wrapper nav .menu .options .notification:hover {
            background-image: url(../assets/images/sprite.png);
            background-position: -93px 134px; }
        #wrapper nav .menu .options .settings {
          background-image: url(../assets/images/sprite.png);
          background-position: -189px -34px; }
          #wrapper nav .menu .options .settings:hover {
            background-image: url(../assets/images/sprite.png);
            background-position: -189px -170px; }
        #wrapper nav .menu .options .burger {
          background-image: url(../assets/images/sprite.png);
          background-position: -276px -34px; }
          #wrapper nav .menu .options .burger:hover {
            background-image: url(../assets/images/sprite.png);
            background-position: -276px -170px; }
  #wrapper .main_content {
    width: 1280px;
    display: relative;
    margin: 0 auto; }
  #wrapper .main_section {
    display: relative;
    width: 100%;
    margin-top: 50px;
    height: 457px;
    background-color: #20253b; }
    #wrapper .main_section .lang {
      position: absolute;
      height: 50px;
      width: 95px;
      cursor: pointer;
      background-color: #d0d0d0;
      border-radius: 0 30px 30px 0;
      top: 511px; }
      #wrapper .main_section .lang .language {
        color: white;
        font-family: gotham_medium;
        font-size: 21px;
        text-align: center;
        margin-top: 13px; }
    #wrapper .main_section .lang:hover {
      background-color: #7c7979; }
    #wrapper .main_section .main_content {
      width: 1280px;
      display: flex; }
    #wrapper .main_section .container_inf .description {
      margin-left: 15.7%;
      margin-right: 72px;
      width: 486px;
      height: 296px; }
      #wrapper .main_section .container_inf .description .description_title {
        color: #fff;
        font-family: gotham_black;
        font-size: 31px;
        text-transform: uppercase;
        margin-bottom: 16px;
        margin-top: 41px; }
      #wrapper .main_section .container_inf .description .description_text {
        text-indent: 0.3em; }
      #wrapper .main_section .container_inf .description .description_text:nth-child(14n) {
        margin-top: 25px; }
      #wrapper .main_section .container_inf .description p {
        color: #fff;
        font-family: gotham_medium;
        font-size: 15px;
        line-height: 19px; }
    #wrapper .main_section .sharik {
      margin-top: 49px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #fff;
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transition: all 1s;
      transition-timing-function: ease-out; }
      #wrapper .main_section .sharik img {
        margin-top: 9.2px;
        margin-left: 9.7px;
        height: 30px;
        width: 30px; }
      #wrapper .main_section .sharik:hover {
        transform: rotate(720deg); }
    #wrapper .main_section .office {
      margin-right: 25px;
      width: 383px;
      height: 571px; }
      #wrapper .main_section .office img {
        position: absolute;
        top: 140px; }
  #wrapper footer {
    height: 140px;
    width: 100%;
    background-color: #27a860; }
    #wrapper footer .footer_content {
      width: 1280px;
      position: relative;
      margin: 0 auto; }
    #wrapper footer .contact_us {
      left: 501px;
      top: 16px;
      position: relative;
      height: 65px;
      width: 190px;
      font-size: 15px; }
      #wrapper footer .contact_us p {
        color: white;
        font-family: gotham_medium;
        line-height: 41px; }

/*# sourceMappingURL=style.css.map */
